{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static '/css/main.css' %}">

<div class="card bg-dark text-white">
    <img src="{% static 'images/osh.jpg' %}"  style="width: 1000px;height: 500px;" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Поручите свои заботы нам</h5>
      <p class="card-text">poisk </p>
      <p class="card-text">Например: Создать сайт , Убраться в квартире , Установить кондиционер</p>
    </div>
  </div>



{% endblock %}